/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.home{
    margin-left: 100px;
    margin-right: 100px;
    background-color: #cdf2f5;
}
.imagen-barrio {
    width: 70%;
    height: auto;
    object-fit: cover;
    margin-top: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.categorias-home {
    justify-content: space-evenly;
}
/* .carrusel-home {
    
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 1.5rem; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor de mano */
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}
.btn-circle {
    border-radius: 50%; /* Hace que el botón tenga bordes redondeados, haciendo que se vea como un círculo */
}