/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 70px;
    height: 10;
  }
body{
    background-color: #ecf6f7;
}