/* .LeftSide {
    margin-top: 100px;
} */

.boton {
    background-color: #00B8A9;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 0;
}
.inicio-sesion {
    width: auto;
}
.row {
    margin-left: 0px;
}