
.navbar-container {

    height: 6em;
    background-color: #f8f9fa;
    
}


.nav-link {
    color: black;
}

.logo-nav {
    width: 100px;  
    height: auto;
    margin-top: 1em;
    margin-left: 2em;
}

.logo-letra {
    width: 200px;  
    height: auto;  
}
.titulo-navbar {
    justify-self: center; 
}
  
.containerletra{
    background-color: #f8f9fa;
}


