
.navbar-container {
    height: 6em;
    background-color: #F8F3D4;
}

.logo-nav {
    width: 120px;
    height: auto;
}

.login-btn {
    margin-left: auto;
}
.btn-info {
    --bs-btn-color: #000;
    --bs-btn-bg: #00B8A9;
    --bs-btn-border-color: #00B8A9;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #00B8A9;
    --bs-btn-hover-border-color: #00B8A9;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #00B8A9;
    --bs-btn-active-border-color: #00B8A9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #00B8A9;
    --bs-btn-disabled-border-color: #00B8A9;
}

.title-container {
    background-color: #F8F3D4;
    width: 100%;
    padding: 1rem 0;
}

.logo-letra {
    width: 200px;
    height: auto;
}

.navbar-nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
}
.login-btn {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
}