.logo-nos {
    width: 100px;   
    height: auto;
    margin-top: 1em;
    margin-left: 1em;
}
.fondo-amarillo {
    background-color: #FFE0B5;
  }
.fondo-amarillo2 {
    background-color: #FFF2D7;
  }
  