.text-custom-tienda {
        margin-top: 2em;
        text-align: center;
        border-bottom: 1px solid rgb(202, 202, 202);
    }

.cardcontainer {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.custom-card {
        max-width: 20em;
        border: none;
        margin: 0.5em;
        margin-left: 2em;
        margin-right: 2em;
    }
    
.card-img-top {
    min-height: 25em;
}