.text-custom-tienda {
        margin-top: 2em;
        text-align: center;
        border-bottom: 1px solid rgb(202, 202, 202);
    }


    .custom-card {
        
        border: none;
        margin: 0.5em;
    
    }
    .card-img-top {
    min-height: 25em;

    }