.todas-tiendas{
    margin-left: 100px;
    margin-right: 100px;
}

.tarjeta-tienda {
    /* Estilos generales de la tarjeta */
    max-width: 300px;
    min-width: 250px; /* Ancho máximo de la tarjeta */
    max-height: 450px;
    min-height: 450px;
    margin: 1em auto; /* Centrar la tarjeta horizontalmente */
    margin-left: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px; /* Bordes redondeados más pronunciados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    box-sizing: content-box;
  }
  
  .tarjeta-tienda:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.01); /* Agrandar ligeramente al hover */
  }
  
  .img-tienda {
    /* Estilos de la imagen del producto */
    width: 100%; /* Ancho completo de la imagen */
    max-width: 300px;
    height: 200px; /* Altura fija de la imagen */
    object-fit: cover; /* Cubrir toda el área disponible */
    margin-bottom: 20px;
    border-radius: 10px; /* Bordes redondeados para la imagen */
  }
  
  .titulo-tienda {
    /* Estilos del título del producto */
    font-size: 20px; /* Tamaño de fuente más grande */
    font-weight: bold;
    color: #333; /* Color de texto más oscuro */
    margin-bottom: 10px;
  }
  
  .descripcion-tienda {
    /* Estilos para la descripción del producto (opcional) */
    font-size: 14px;
    color: #666;
    line-height: 1.5; /* Mayor espacio entre líneas para mejor legibilidad */
    margin-bottom: 20px;
  }
  
  .precio-tienda {
    /* Estilos del precio del producto */
    font-size: 18px; /* Tamaño de fuente más grande para el precio */
    font-weight: bold;
    color: #007bff; /* Color azul para destacar el precio */
    margin-bottom: 15px;
  }
  
  .boton-compra {
    /* Estilos del botón de compra */
    display: block;
    width: 100%;
    padding: 12px 20px; /* Aumento del padding para mejor clickabilidad */
    background-color: #007bff; /* Mismo color azul del precio */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton-compra:hover {
    background-color: #0056b3;
  }
  .grid-container {
    grid-template-columns: none;
  }
  