.todas-tiendas{
    margin-left: 100px;
    margin-right: 100px;
}

.tarjeta-tienda {
    
    max-width: 300px;
    min-width: 250px; 
    max-height: 450px;
    min-height: 450px;
    margin: 1em auto; 
    margin-left: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .tarjeta-tienda:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.01); 
  }
  
  .img-tienda {
    
    width: 100%; 
    max-width: 300px;
    height: 200px; 
    object-fit: cover; 
    margin-bottom: 20px;
    border-radius: 10px; 
  }
  
  .titulo-tienda {
   
    font-size: 20px; 
    font-weight: bold;
    color: #333; 
    margin-bottom: 10px;
  }
  
  .descripcion-tienda {
   
    font-size: 14px;
    color: #666;
    line-height: 1.5; 
    margin-bottom: 20px;
  }
  
  .precio-tienda {
    
    font-size: 18px; 
    font-weight: bold;
    color: #007bff;
    margin-bottom: 15px;
  }
  
  .boton-compra {
    
    display: block;
    width: 100%;
    padding: 12px 20px; 
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton-compra:hover {
    background-color: #0056b3;
  }
  .grid-container {
    grid-template-columns: none;
  }
  