.tarjeta-productos {
    max-width: 20em;
    border: none;
    margin: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
}
.img-todos-productos {
    width: 8cm; /* Ajustar el ancho según sea necesario */
    height: 7cm; /* Mantener la relación de aspecto */
    object-fit: cover; /* Cubrir toda el área disponible */
    min-height: 15em;
  }
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; /* Ajuste el espacio entre elementos como necesite */
}
.custom-col {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    text-align: center;
}
.tittles {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 25px;
}