.boton.vendedor:active {
    transform: translateY(2px);
    
}

.boton.vendedor:hover {
    background-color: #0664d0; /* Color de fondo cuando el mouse está sobre el botón */
    color: #fff; /* Color de texto cuando el mouse está sobre el botón */
}

.imagen-vendedor {
    width: 70%; /* Ancho completo */
    max-width: 600px; /* Máximo ancho de 600px para que sea responsiva */
    height: auto; /* Altura automática */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    display: block; /* Para centrar la imagen */
    margin: 20px auto; /* Margen superior e inferior de 20px y centrado horizontal */
    border: 2px solid #ccc; /* Marco de 2px sólido de color gris */
}